*{
    margin:0%;
    padding:0%;
}
body{
    background-image: url(dragonback2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.dragon{
    background-image: url(dragon.png);
    background-repeat: no-repeat;
    background-size: contain;
    height:160px;
    width:180px;
    position: absolute;
    bottom:0;
    left:30px;
}
.enemy{
    background-image: url(enemy.png);
    background-repeat: no-repeat;
    background-size: contain;
    height:160px;
    width:180px;
    position: absolute;
    bottom:0;
    right:30px;
}